body {
  font-family: "Helvetica Neue";
  margin: 40px auto;
  width: 960px;
  min-height: 2000px;
}

#body {
  position: relative;
}

#body > p {
  line-height: 1.5em;
  width: 640px;
  text-rendering: optimizeLegibility;
}
.charts {
  padding: 10px 0;
}
.chart {
  display: inline-block;
  padding-left: 20px;
  padding-top: 10px;
}

.chart rect {
  fill: steelblue;
}

.axis text {
  font: 10px sans-serif;
  fill: black;
}
.chart text {
  font: 10px sans-serif;
  fill: black;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}



/*dont display yAxis for categorical variable*/
#chart .y.axis g {
  display: none;
}

/*Labels in categorical chart */
text#catTitle.catTitle {
  font: 10px sans-serif;
  fill: white;
} 

/*Color for the brush */
.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}
/*Color for the brush resize path*/
.brush .resize path {
  fill: #eee;
  stroke: #666;
}

/*Color for the hidden object*/
#chart2 .hidden {
  fill: grey;
}

#chart2 .bar {
  fill: steelblue;
}

.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #ccc;
}

.chart .hidden {
  fill: grey;
}